@model AutomovilModelo
@{
    ViewData["Title"] = "Eliminar Automovil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Automovil
    </div>
    <div class="card-body">


        <form asp-action="Eliminar" asp-controller="MantenedorAutomovil" method="post">

            <input asp-for="IdAutomovil" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Automovil : @Html.DisplayTextFor(m => m.Placa) ?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="MantenedorAutomovil" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>