@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <img src="~/img/banner.jpeg"class="container-fluid"/>
    </div>  
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>Mision</h3>
            <p>Aquí va la mision</p>

        </div>
        <div class="col-sm-4">
            <h3>Vision</h3>
            <p>Aquí va la vision</p>

        </div>
        <div class="col-sm-4">
            <h3>Historia</h3>
            <p>Aquí va la historia</p>

        </div>
    </div>   
</div>
